</br>
</br>
</br>

<div class="mx-auto align-middle" style="width: 40rem; height: 60rem;">
    <div class="card text-center">
        <div class="card-body">
            <p class="card-text">
                <h3 class="card-title">Success! All data was deleted.</h3>

                <img src="../img/nuke.gif" />
            </p>

            <a href="/plant" class="btn btn-primary">Return Home</a>
        </div>
    </div>
</div>