<h1>Welcome to PlanteR-GB</h1>
<p>
  to continue, please use the navigation bar to navigate to specific sections.
</p>
<p>
  This page will be filled with information on how to use PlanteR-GB.
</p>

<h3>possible entries into this page include</h3>
<ul>
  <li>Usefule plant tips</li>
  <li>lighting tips</li>
</ul>
