</br></br></br>

<div class="mx-auto align-middle" style="width: 40rem; height: 60rem;">
  <div class="card text-center">
    <div class="card-body">
      <h3 class="card-title">Welcome to PlanteR-GB</h3>

      <p class="card-text">
      This page will be filled with information on how to use PlanteR-GB.<br>
      Add a profile to get started!
      </p>

      <a href="/profiles" class="btn btn-primary">Get Started</a>
    </div>
  </div>
</div>
