</br>

<div class="mx-auto align-middle" style="width: 40rem; height: 60rem;">
  <div class="card text-center">
    <div class="card-body">
      <h3 class="card-title">Welcome to PlanteR-GB!</h3>

      <p class="card-text">
        Welcome to the PlanteR-GB plant lighting system. This system is customizable to better suit your plant growing needs. <br>
        Each page contains some information on how to use it.
        Add data to each of the pages to get started. When you are done, select the current active profile from the top right of the screen.

        For information about the latest release, click <a href="https://github.com/CarvellWakeman/plantergb/releases/tag/Latest">here</a>
      </p>

      <a href="/hardware" class="btn btn-primary">Get Started</a>
    </div>
  </div>
</div>
