<!-- Settings -->
</br>

<div class="container-fluid">
  <div class="row">
    <div class="col-10 center-pls">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Settings</h4>

          <div class="row">
            <div class="col-12">
              <p class="right">Here you can find all system settings. WARNING: Some of these options are destructive, proceed only if you
                are sure of what you want to do.</p>
            </div>
          </div>
          <br/>
          <br/>

          <h5>Delete ALL data</h5>
          <form name="nuke_from_orbit" action="/settings/erase_all" method="POST">
            <div class="input-group mb-3">
              <!-- Confirm 1 -->
              <input type="text" class="form-control" placeholder="Type 'delete'" name="confirm1" required>
              <!-- Confirm 2 -->
              <input type="text" class="form-control" placeholder="Type 'all'" name="confirm2" required>
              <!-- Confirm 3 -->
              <input type="text" class="form-control" placeholder="Type 'data'" name="confirm3" required>

              <!-- Delete -->
              <div class="input-group-append">
                <button class="btn btn-outline-danger" type="submit">DELETE EVERYTHING</button>
              </div>
            </div>
          </form>

          <br/>
          <h5>System Shutdown</h5>
          <form name="system_shutdown" action="/settings/system_shutdown" method="POST">
            <div class="input-group mb-3">
              <!-- Shutdown -->
              <div class="input-group-append">
                <button class="btn btn-warning" type="submit">System Shutdown (power off)</button>
              </div>
            </div>
          </form>

          <br/>
          <h5>System Restart</h5>
          <form name="system_restart" action="/settings/system_restart" method="POST">
            <div class="input-group mb-3">
              <!-- Shutdown -->
              <div class="input-group-append">
                <button class="btn btn-info" type="submit">System Restart</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

  <br/>
  <div class="row">
    <div class="col-10 center-pls">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Advanced Settings</h4>

          <div class="row">
            <div class="col-12">
              <p class="right">Here you can find advanced stuff. These settings are for development and may break things.</p>
            </div>
          </div>
          <br/>
          <br/>
          <h5>Service Shutdown (shutdown program, keep hardware on)</h5>
          <form name="service_shutdown" action="/settings/shutdown" method="POST">
            <div class="input-group mb-3">
              <!-- Service Shutdown -->
              <div class="input-group-append">
                <button class="btn btn-dark" type="submit">Control Service Shutdown</button>
              </div>
            </div>
          </form>

          <br/>
          <h6>Hardware simulator, requires dev version of state composer with #define SERIAL_FUNC serial_send_test</h6>
          <div class="input-group mb-3">
            <!-- Simulator -->
            <div class="input-group-append">
              <a class="btn btn-dark" href="/simulator">LED Hardware Simulator</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('form').submit(function () {
      $(this).find("button[type='submit']").prop('disabled', true);
    });
  });
</script>