<!DOCTYPE html>
<html>

<head>
  <title>PlanteR-GB LED Simulator</title>
  <link rel="stylesheet" href="../css/style.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand navbar-custom">
    <!-- Header -->
    <h1>PlanteR-GB LED Simulator</h1>
  </nav>

  <div class="container-fluid">
    {{{body}}}
  </div>
</body>

</html>