<!DOCTYPE html>
<html>

<head>
  <title>PlanteR-GB</title>
  <link rel="icon" href="../img/logo2-interior-shadow.png">
  <link rel="stylesheet" href="../css/style.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand navbar-custom fixed-top">
    <!-- Header -->
    <a class="navbar-brand" href="/plant">
      <span>
        <img src="../img/logo2.png" width="50" height="30" class="d-inline-block align-top">
      </span>
      PlanteR-GB
    </a>
    <!-- header -->

    <!-- Buttons -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="/plant" class="btn navbar-text">Home</a>
      </li>
      <li class="nav-item">
        <a href="/hardware" class="btn navbar-text">Hardware</a>
      </li>
      <li class="nav-item">
        <a href="/ledStates" class="btn navbar-text">LED states</a>
      </li>
      <li class="nav-item">
        <a href="/dailyStates" class="btn navbar-text">Daily states</a>
      </li>
      <li class="nav-item">
        <a href="/profiles" class="btn navbar-text">Profiles</a>
      </li>
      <br/>
      <li class="nav-item">
        <a href="/settings" class="btn navbar-text">Settings</a>
      </li>
    </ul>

    <!-- Current profile -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="btn navbar-text nav-right" data-toggle="modal" data-target="#changeCurrentProfile">
          <span class="badge badge-pill badge-primary">Current Profile: {{#currentProfile}}{{name}}{{/currentProfile}}</span>
        </a>
      </li>
    </ul>

    <!-- Select current profile -->
    <div id="changeCurrentProfile" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Select current profile</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="list-group">
              {{#each Profiles}}
              <div>
                <form name="set_current_profile" action="/currentProfile" method="POST">
                  <!-- Hidden element for ID -->
                  <input type="number" name="id" value="{{ id }}" hidden>

                  <button class="btn list-group-item list-group-item-action col-12">
                    {{name}} {{#if active}}
                    <span class="badge badge-success float-right m-2">Active</span>
                    {{/if}}
                  </button>
                </form>
              </div>
              {{/each}}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </nav>
  
  <div class="below-navbar">
    {{{body}}}
  </div>

</body>

</html>