.navbar-custom{
  background-color: #81AA61;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #FFFFFF;
  }

/* #titleCard {
  overflow: auto;
  background-color: rgb(129,170,97);
  color:white;
  outline: black
  }

#logo{
  float: left;
  margin: auto;
  display: run-in

}

#Name{
  top: 10%;
  left: 50%;
  right: 50%
}

#navbarLowerThirds{
  overflow: auto;
  background-color: black;
  color:white;
}
#current{
  text-align: right;
  padding-right: 10px;
}

#navbar{
  height: 84px;
  background-color: grey;
}

.table{
  display: table;
  margin: 0 auto;
}

ul#navBarElements{
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
}
ul#navbar li{
  display: inline;
} */
